@keyframes text-glowing-blue {
  0% {
    text-shadow: 0 0 .5px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #d3ffff, 0 0 5px #d3ffff, 0 0 2px #d3ffff, 0 0 10px #d3ffff, 0 0 10px #d3ffff;
  }

  to {
    text-shadow: 0 0 .5px #fff, 0 0 .5px #fff, 0 0 .5px #fff, 0 0 .5px #d3ffff, 0 0 5px #d3ffff, 0 0 .5px #d3ffff, 0 0 5px #d3ffff, 0 0 2px #d3ffff;
  }
}

@keyframes text-glowing-red {
  0% {
    text-shadow: 0 0 .5px #ebd5d2, 0 0 1px #ebd5d2, 0 0 1px #ebd5d2, 0 0 1px #ffbebe, 0 0 5px #ffbebe, 0 0 2px #ffbebe, 0 0 10px #ffbebe, 0 0 10px #ffbebe;
  }

  to {
    text-shadow: 0 0 .5px #ebd5d2, 0 0 .5px #ebd5d2, 0 0 .5px #ebd5d2, 0 0 .5px #ffbebe, 0 0 5px #ffbebe, 0 0 .5px #ffbebe, 0 0 5px #ffbebe, 0 0 2px #ffbebe;
  }
}