@font-face {
font-family: 'Pokemon';
src: url('../fonts/Pokemon\ Classic.ttf'); 
}

body {
  background-color: black;
}

div.menu {
  font-family: 'Pokemon', sans-serif;
  background-color: white;
  color: black;
  min-width: 350px;
  border: 10px double black;
  border-radius: 10px;
  width: 30%;
  font-size: 1.5em;
}

div.box__settings {
  padding: 10px 0px 10px 25px;
}

div.settings__title {

}

span.title_name {
  text-transform: uppercase;
  display: inline-block;
}

div.setting__options {

}

div.options_selection {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70%;
}

div.options_multiple {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 85%;
}

div.options_selection > img, div.options_multiple > img {
  visibility: visible;
}

div.options_group {
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 20px;
}

span.group_item {

}


span {
  text-transform: uppercase;
  display: inline-block;
}

img {
  display: inline-block;
  width: 20px;
  height: 20px;
  visibility: hidden;
}

.option-1, .option-2 {
  gap: .5em;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 25px;
}

.options__setting {
  padding: 10px 0px 10px 25px;
}

.selected > img {
  visibility: visible;
}

.selection > img {
  visibility: visible;
}

img.reverse {
  transform: scaleX(-1);
}

a {
  text-decoration: none;
  color: black;
}


/* .selection {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70%;
} */

/* 
.selection__option {
  width: 50%;
  display: flex;
  margin: auto;
  justify-content: space-between;
} */

/* .selection__option > span {
  margin: auto;
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 0 50px;
} */

/* .selection__multiple > span {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  gap: 5px;
} */

div.options_selection:first-child {
  order: 1;
}

div.options_selection:nth-child(2) {
  order: 2;
}

div.options_selection:last-child {
  order: 3;
}

@media screen and (max-width: 768px) {
  span {
    font-size: 0.875rem;
  }
}
