@font-face {
font-family: 'Pokemon';
src: url('../fonts/Pokemon\ Classic.ttf'); 
}

body {
  background-color: black;
}

.start-game, .options {
  background-color: white;
  color: black;
  font-family: 'Pokemon', sans-serif;
  min-width: 350px;
  border: 10px double black;
  border-radius: 10px;
  width: 30%;
  font-size: 1.5em;  
}

span {
  text-transform: uppercase;
  display: inline-block;
}

img {
  display: inline-block;
  width: 20px;
  height: 20px;
  visibility: hidden;
}

.option-1, .option-2 {
  gap: .5em;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 25px;
}

.options__setting {
  padding: 10px 0px 10px 25px;
}

.selected > img {
  visibility: visible;
}

.selection > img {
  visibility: visible;
}

img.reverse {
  transform: scaleX(-1);
}

a {
  text-decoration: none;
  color: black;
}

.options__option, .options__select {
  display: block;
}

.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.selection__option > span {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 0 50px;
}

.selection__multiple > span {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  gap: 5px;
}

.selection:first-child {
  order: 1;
}

.selection:nth-child(2) {
  order: 2;
}

.selection:last-child {
  order: 3;
}

@media screen and (max-width: 768px) {
  span {
    font-size: 0.875rem;
  }
}
