@charset "UTF-8";

@font-face {
  font-family: '5cil';
  src: url('../fonts/5Computers-In-Love.ttf'); 
}

@font-face {
  font-family: 'command';
  src: url('../fonts/PILOT_COMMAND.otf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*  */

body {
  background-color: black;
}

body::before {
  opacity: 1;
  content: '';
  background-image: url('../images/matrix.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin: auto;
  text-align: center;
  justify-content: center;
  /* text-shadow: 5px 2px 1px white; */
}

main {
  display: block;
  margin-top: 200px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.header-title {
  margin-top: 70px;
  font-family: '5cil', sans-serif;
  color: white;
}

.header-subtitle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: inline-block;
  background-color: rgb(103, 135, 136);
  width: 500px;
  height: 250px;
  border: 2px solid black;
  border-radius: 30px;
}

h3 {
  margin-top: 20px;
  font-family: '5cil', sans-serif;
}

.text {
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 1px 5px 1px black;
}

.button {
  margin-top: 20px;
  background-color: rgba(31, 77, 119, 0.555);
  padding: 15px;
  font-family: '5cil', sans-serif;
  border-radius: 10px;
  border: 1px solid gray;
}

.button:hover {
  background-color: rgba(21, 51, 78, 0.555);
}

.footer p {
  display: flex;
  text-align: center;
  justify-content: center;
}