@charset "UTF-8";

@font-face {
  font-family: '5cil';
  src: url('../fonts/5Computers-In-Love.ttf'); 
}

@font-face {
  font-family: 'command';
  src: url('../fonts/PILOT_COMMAND.otf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*  */

body {
  background-color: black;
}

body::before {
  opacity: 1;
  content: '';
  background-image: url('../images/matrix.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  margin: auto;
  text-align: center;
  justify-content: center;
  /* text-shadow: 5px 2px 1px white; */
}

main {
  display: block;
  margin-top: 200px;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.container {
  display: inline-block;
  background-color: rgb(103, 135, 136);
  width: 500px;
  height: 250px;
  border: 2px solid black;
  border-radius: 30px;
}
